body{
  font-size: 12px;
}
.form-control {
  width: auto;
}

.addTimeContainer {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 12px;
  border-radius: 0px;
  background-color: rgb(157, 216, 106);
  color: #222;
  z-index: 1;
  width: 100%;
}

.workScheduleButtons {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background-color: #fff;
}
.sendWorkWeek{
  width: 100%;
}

.container {
  margin-top: 90px;
}

.setWeek {
  position: fixed;
  top: 50px;
  left: 0px;
  background-color: #fff;
  padding: 20px;
  z-index: 1;
}

.dropdown-menu {
  position: fixed;
}

.takenMiddleLaser {
  border-bottom-color: #80fbbc!important;
  border-top-color: #80fbbc!important;
}

.takenMiddleMas {
  border-bottom-color: #80eafb!important;
  border-top-color: #80eafb!important;
}

.takenMiddleNou {
  border-bottom-color: #ff9279!important;
  border-top-color: #ff9279!important;
}

.takenMiddlefFusi {
  border-bottom-color: #ffa7e0!important;
  border-top-color: #ffa7e0!important;
}

.takenMiddlefKine {
  border-bottom-color: #fbf280!important;
  border-top-color: #fbf280!important;
}

.chosenTime {
  background-color: #848484!important;
}

.deleteHover:hover {
  background-color: #848484!important;
}
.infoIcon{
  padding: 3px;
}
.chosenTimeWorkerMerily{
  color: #576!important;
}
.chosenTimeWorkerKristiina {
  color: #867!important;
}

.workerIcon{
  float: right;
}
.firstWorker{
  background-color: #576;
}
.secondWorker{
   background-color: #867;
}