body {
  font-size: 12px;
}

.mySchedule {
  background-color: #e7e7e7;
}

.form-control {
  width: auto;
}

.hour:hover {
  background-color: aqua;
}

.addTimeContainer {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 12px;
  border-radius: 0px;
  background-color: #8dd0e4;
  color: #222;
  z-index: 1;
  width: 100%;
}

.workScheduleButtons {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background-color: #fff;
}

.deleteAddWorkingHours {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background-color: #fff;
  width: 100%;
}

.saveWorkWeek {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background-color: #fff;
  width: 100%;
}

.sendWorkWeek {
  width: 100%;
}

.container {
  margin-top: 73px;
}

.setWeek {
  position: fixed;
  top: 50px;
  left: 0px;
  background-color: #fff;
  padding: 20px;
  z-index: 1;
}

.dropdown-menu {
  position: fixed;
}

.takenMiddleLaser {
  border-bottom-color: #96f5e7!important;
  border-top-color: #96f5e7!important;
}

.takenMiddleMas {
  border-bottom-color: #80eafb!important;
  border-top-color: #80eafb!important;
}

.takenMiddleNou {
  border-bottom-color: #c5baef!important;
  border-top-color: #c5baef!important;
}

.takenMiddlefFusi {
  border-bottom-color: #ff748f!important;
  border-top-color: #ff748f!important;
}

.takenMiddlefKine {
  border-bottom-color: #ffd893!important;
  border-top-color: #ffd893!important;
}

.chosenTime {
  background-color: #337ab7!important;
}

.deleteHover:hover {
  background-color: #848484!important;
}

.infoIcon {
  padding: 3px;
}

.chosenTimeWorkerMerily {
  color: #f0ad4e!important;
}

.chosenTimeWorkerKristiina {
  color: #d80b0b!important;
}

.workerIcon {
  float: right;
}

.firstWorker {
  background-color: #c77500;
  color: #fff;
}

.secondWorker {
  background-color: #7b1111;
  color: #fff;
}

.glyphicon-info-sign {
  font-size: 17px;
}

.newChosenTime {
  background-color: wheat;
  padding: 2px;
}

.exitForm {
  background-color: transparent;
}

.exitForm:hover {
  background-color: hsla(0, 2%, 53%, 0.37);
  ;
}